{% extends 'base.html.twig' %}

{% block title 'Agence test Symfony' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence Test</h1>
		<p>dqodzodqzjpdqzopdpojqdoqpzdopqdqzopjdpoqjzdopjqzdqopzjdqopjzdopqdqpodqz</p>
	</div> 

	<div class="container">
		<h2>Les deniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						{% if property.filename %}
							<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
						{% endif %}					
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('property.show', {id:property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<p class="card-text"> {{ property.city }} ({{ property.postalCode }}) </p>
							<div class="text-primary">{{ property.price }}</div>
						</div>
					</div>
				</div> 
			{% endfor %}
		</div>  
	</div>
{% endblock %}